.img {
    width: 30rem;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
}

.img__row {
    display: none;
}

@media (min-width: 40rem) {
    .img {
        width: 60rem;
        grid-column: 1 / -1;
    }

    .img__row {
        display: inline-flex;
        width: 12rem;
    }
}
