.content__instruction {
    background: #f1ece5;
    padding: 3rem;
    margin: 4rem 0;
}

.instructions {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 50rem) {
    .instructions {
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .instructions {
        max-width: 40rem;
    }
}
