.footer-nav__items {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

@media (max-width: 75rem) {
    .footer-nav__items {
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        margin: 0;
    }
}

@media (max-width: 50rem) {
    .footer-nav__items {
        flex-direction: column;
    }
}
