.partner-text {
    text-align: center;
}

.partner__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner__img {
    height: 5vh;
    padding: 0 3rem;
}

.partner__img_height {
    height: 10vh;
}

@media (max-width: 50rem) {
    .partner__links {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .partner__img {
        height: 5vh;
        padding: 0 3rem;
    }
}
