.product-amenities__items {
    display: block;
    list-style: none;
    padding-bottom: 1rem;
}

@media (min-width: 40rem) {
    .product-amenities__items {
        display: inline-block;
        list-style: none;
        padding: 0;
        padding-right: 5rem;
    }
}
