.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.footer-text,
.footer__text {
    color: goldenrod;
}

.footer__text {
    display: none;
}

.footer-description {
    width: 20rem;
    color: white;
}

.footer__link {
    text-decoration: none;
    border: 0.1rem solid goldenrod;
    border-radius: 0.3rem;
    padding: 1rem 3rem;
    color: white;
    font-weight: bold;
}

.footer__link:hover,
.footer__link:active {
    color: white;
    background: goldenrod;
}

@media (min-width: 40rem) {
    .footer-content {
        flex-direction: row;
        justify-content: space-around;
        padding: 16rem 0;
    }

    .footer-text {
        color: goldenrod;
    }

    .footer__link {
        padding: 1rem 3rem;
    }
}
