.avatar {
    position: relative;
    padding-right: 2rem;
}

.img-avatar_circle-small {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    align-items: center;
    box-shadow: 2px -2px 2px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 75rem) {
    .img-avatar_circle-small {
        height: 3rem;
        width: 3rem;
    }
}
