.side-drawer {
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 25rem;
    z-index: 200;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer__items {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.side-drawer__item {
    padding: 1rem 0;
}

.side-drawer__link {
    color: goldenrod;
    font-size: 1.2rem;
    font-weight: bold;
}

.side-drawer__link:hover,
.side-drawer__link:active {
    color: var(--soft-grey);
}
