.partner-profile__item {
    text-decoration: none;
    display: inline;
}

.partner-profile__item::after {
    content: ' | ';
    color: goldenrod;
}

.partner-profile__link {
    font-size: 0.8rem;
    font-weight: bold;
    color: goldenrod;
    text-decoration: none;
}

.partner-profile__link:hover {
    color: var(--soft-grey);
}
