.property {
    margin: 1rem;
    width: 60rem;
    margin-bottom: 4rem;
}

.product-amenities {
    margin-top: 1rem;
}

.show {
    display: none;
}

@media (max-width: 75rem) {
    .property {
        margin: 1rem;
        width: 35rem;
    }
}

@media (max-width: 50rem) {
    .property {
        width: 25rem;
    }
}
