.profile__header_red {
    color: #b41f1f;
}

.profile-details {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.avatar-text {
    margin: 0;
    padding: 0;
}

.avatar-text_bold {
    font-weight: bold;
}

.avatar-text_grey {
    font-weight: bold;
    color: var(--soft-grey);
}

.social {
    display: flex;
}
