.profile {
    background: #fffefe;
    border: 1px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    width: 40rem;
    padding: 1rem 3rem;
}

.profile__header_red {
    color: #b41f1f;
}

.profile-details {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.avatar-text {
    margin: 0;
    padding: 0;
}

.avatar-text_bold {
    font-weight: bold;
}

.avatar-text_grey {
    font-weight: bold;
    color: var(--soft-grey);
}

.social {
    display: flex;
}

@media (max-width: 75rem) {
    .profile {
        width: 30rem;
        padding: 1rem 3rem;
        margin: 1rem;
    }
}

@media (max-width: 50rem) {
    .profile {
        width: 25rem;
        padding: 1rem 3rem;
        margin: 1rem;
    }
}
