.nav-content {
    margin: 3rem 1rem 2rem;
}

.nav-tabs {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.nav-tabs__list {
    flex-grow: 1;
    display: flex;
}

.nav-tabs__link {
    border: goldenrod;
    background: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: var(--soft-grey);
    padding: 1rem;
    text-align: center;
    flex-grow: 1;
}

.nav-tabs__link:hover,
.nav-tabs__link:active {
    color: goldenrod;
}

.active {
    background: goldenrod;
    color: white;
}

.active:hover {
    color: var(--soft-grey);
}

@media (max-width: 75rem) {
    .nav-tabs {
        flex-wrap: nowrap;
    }
}

@media (max-width: 50rem) {
    .nav-tabs {
        display: block;
    }
}
