.form__select_theme_golden_white {
    position: relative;
    background: white;
    color: goldenrod;
    border: none;
    border-right: 1px solid goldenrod;
    border-radius: 0.1rem;
    margin: 0;
    padding: 1rem 2rem;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../../../../assets/images/dropdown.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
}

.form__option_pad {
    font-weight: bold;
    padding: 1.8rem;
}

.form__button_theme_inverse {
    background: goldenrod;
    color: white;
    padding-right: 2rem;
    cursor: pointer;
}

.form__button_theme_inverse:hover {
    background: white;
    color: var(--soft-grey);
}

@media (max-width: 75rem) {
    .form__select_theme_golden_white {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 50rem) {
    .form {
        display: flex;
        flex-direction: column;
    }

    .form__select_theme_golden_white {
        margin: 0.1rem;
        padding: 0.2rem 0.5rem;
        font-size: 1rem;
    }
}
